.espaco{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 5%;
}
h1, h2, h3{
    color: #004000;
}
.header{
    background-color: #e6f0fa;
    padding-bottom: 10%;
}
.metodos{
    padding: 5%;
    background-color:  #f9f9f9;
}
.blog{
    padding: 5%;
}
.servicos{
    padding: 5%;
}
.atendimento{
    padding: 5%;
    background-color: #f9f9f9;
}
.importancia_terapia{
    padding: 5%;
    margin: auto;
    background-color: #f9f9f9;
}
.centro{
    text-align: center;
}
.link_principal{
   display: flex;
   justify-content: center;
   gap: 40px;
   padding: 20px;
}
.link_principal a{
    text-decoration: none;
    color: white;
}
.menu_link{
    
    border: 2px, solid;
    border-radius: 20px;
    background-color: #004080;
    
    align-items: center;
    padding: 10px;
    
    
} <!-- Bem Vindo-->
.espaco1{
    width: 50%;
    max-width: 1000px;
    margin: auto;
}
.apresentacao{
    padding: 5%;
}

.principal{
    padding: 5%;
    text-align: center;
}
.cartoes{
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-top: 20px;
   
}
.card{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow:  2px 6px 9px hwb(210 28% 35%);
}
.card2{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow:  px 4px 9px hwb(210 28% 35%);
    text-align: center;
}
.bto, .bto2{
    display: inline-block;
    padding: 15px 30px;   /* aumenta o tamanho do botão */
    font-size: 18px;      /* aumenta o texto */
    margin: 8px;          /* espaço entre botões */
    border-radius: 10px;
    text-decoration: none
}
.bto3, .bto4{
    display: inline-block;
    padding: 15px 30px;   /* aumenta o tamanho do botão */
    font-size: 18px;      /* aumenta o texto */
    margin: 8px;          /* espaço entre botões */
    border-radius: 10px;
    text-decoration: none
}
.bto3{
    background-color:#004080;
    color: white;
}
.bto4{
    border: 2px solid #004080;
    color: #004080;
    background: white;
}
.bto{
    background-color:#004080;
    color: white;
}
.bto2{
    border: 2px solid #004080;
    color: #004080;
    background: white;
}
.botao{
    padding-top: 2%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer{
    background-color:#004080;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #e6f0fa;
    font-size: 0.9em;
    padding: 30px 20px;
}



